extends ../layouts/main.jade

block content
  .row
    .columns
      #events
        for event in events
          .event(data-id=event.id)
            h1= event.title
            p= moment(event.start).format('LLL')
              if event.end
                | &nbsp;–&nbsp;
                = moment(event.end).format('LLL')
            p= event.location
            p= event.tags
            p!= marked(event.mdtext)

  script#template(type="text/ractive")
    | {{#events}}
    article
      header
        h1
          a(href="/events/{{_id}}") {{title}}
          .right
            small {{ago(start)}}
        .meta
          .row
            .columns.small-9
              span.byline
                | {{{daterange(start, end)}}}
                | {{#location}}
                | {{location}}
                | {{/location}}
              | {{#tags}}
              a(href="{{taglink(.)}}") {{.}}
              | {{/tags}}
            .columns.small-3.text-right
              permissionicons(permissions="{{permissions}}")
      .content
        .row
          .columns
            | {{{marked(mdtext)}}}
    | {{/events}}

block javascript
  script
    | require('s7n').projects.upcomingView(
    != JSON.stringify(events)
    | );
