extends ../layouts/main.jade

block content
  #project
    .row
      .medium-8.columns
        h1= project.title
        = project.start
        = project.end
        p.
        = project.private_mdtext

        #forum
          for post in project.posts
            article
              header
                h1
                  a(href="/forum/" + hoid(post._id))= post.title
                .meta
                  .row
                    .columns.small-9
                      span.byline
                        a(href="/users/" + post.creator._id)= post.creator.name
                      time.created(datetime=isodate(post.created))= shortdate(post.created)
                    .columns.small-3.text-right.creator
                      i.fa.fa-globe(title="Tilgjengelig for alle")
                      i.fa.fa-users(title="Tilgjengelig for alle medlemmer")
                      i.fa.fa-user(title="Tilgjengelig bare for deg")
                      a.deletepost(title="Slett innlegget")
                        i.fa.fa-trash-o

                .content
                  .row
                    .columns
                      != marked(post.mdtext)

        form(action="/projects/" + project._id + "/forum" method="post")
          h2 Legg til innlegg
          label Tittel
          input.title(name="title" type="text")
          label Innhold
          textarea.mdtext(name="mdtext")
          button Lagre innlegg

      .medium-4.columns
        #events
          for event in project.events
            .event
              h3= event.title
              .meta
                | Av 
                = event.creator.name
                = shortdate(event.start)
                = shortdate(event.end)
                a.deleteevent(href="/projects/" + project._id + "/events/" + event._id)
                  i.fa.fa-trash-o

        form(action="/projects/" + project._id + "/events" method="post")
          h2 Legg til aktivitet
          label Tittel
          input.title(name="title" type="text")
          label Sted
          input.location(name="location" type="text")
          label Start
          input.start(name="start" type="text")
          label Slutt
          input.end(name="end" type="text")
          label Beskrivelse
          textarea.mdtext(name="mdtext")
          button Legg til aktivitet

        #files
          form.dropzone(method="post" action="/projects/" + project._id + "/files" enctype="multipart/form-data")
            .fallback
              input(type="file" name="file")
              button Send
            for file in project.files
              div.outer.file(data-id=file._id)
                div.meta
                  strong= file.filename
                  = file.created
                  if file.permissions.public
                    i.fa.fa-globe
                  else if 'medlemmer' in file.permissions.groups
                    i.fa.fa-users
                  else if !file.permissions.public && file.permissions.groups.length === 0 && file.permissions.users.length === 0
                    i.fa.fa-user
                  a.edit(href='#')
                    i.fa.fa-edit
                  i.fa.fa-trash-o


  script#template(type="text/ractive")
    {{#project}}
    .row
      .medium-8.columns
        h1 {{title}}

        {{shortdate(start)}}
        {{shortdate(end)}}
        p.
          {{private_mdtext}}

        #forum
          | {{#posts}}
          |   {{>post}}
          | {{/posts}}

          form(action="/projects/{{_id}}/forum" method="post")
            h2 Legg til innlegg
            label Tittel
            input.title(name="title" type="text")
            label Innhold
            textarea.mdtext(name="mdtext")
            button Lagre innlegg

      .medium-4.columns
        #events
          | {{#events}}
          |   {{>event}}
          | {{/events}}

          form(action="/projects/{{_id}}/events" method="post")
            h2 Legg til aktivitet
            label Tittel
            input.title(name="title" type="text")
            label Sted
            input.location(name="location" type="text")
            label Start
            input.start(name="start" type="text")
            label Slutt
            input.end(name="end" type="text")
            label Beskrivelse
            textarea.mdtext(name="mdtext")
            button Legg til aktivitet

        #files
          form.dropzone(action="/projects/{{_id}}/files")
            .fallback
              input(type="file" name="file" multiple)
              button Send
            | {{#files}}
            |   {{>file}}
            | {{/files}}


    {{/project}}

    // {{>post}}
    article
      header
        h1
          a(href="/forum/{{oid}}") {{title}}
        .meta
          .row
            .columns.small-9
              span.byline
                a(href="/users/{{creator._id}}") {{creator.name}}
              time.created(datetime="{{isodate(created)}}") {{shortdate(created)}}
            .columns.small-3.text-right.creator
              a(title="slett innlegget" on-click="deletepost")
                i.fa.fa-trash-o

        .content
          .row
            .columns {{{marked(mdtext)}}}
    // {{/post}}

    // {{>event}}
    .event
      h3 {{title}}
      .meta
        | av 
        {{creator.name}}
        {{shortdate(start)}}
        {{shortdate(end)}}
        a.deleteevent(href="/projects/{{../_id}}/events/{{_id}}")
          i.fa.fa-trash-o
    // {{/event}}

    // {{>file}}
    .outer.file(data-id="{{_id}}")
      div.meta
        strong {{filename}}
        {{shortdate(created)}}
        a.edit(href='#')
          i.fa.fa-edit
        i.fa.fa-trash-o
    // {{/file}}

block javascript
  script
    | require('s7n').projects.projectView(
    != JSON.stringify(project)
    | );
