extends ../layouts/main.jade

block content
  #project-modal.reveal-modal(data-reveal)
    a.close-revveal-modal &#215;

  #project
    .row
      .medium-8.columns
        h1= project.title
        .meta
          .row
            .columns
              = project.start
              = project.end
        .content
          if project.private_mdtext
            .row
              .columns
                != marked(project.private_mdtext)
          if project.public_mdtext
            .row
              .columns
                != marked(project.public_mdtext)

        #files
          noscript
            form.dropzone(method="post" action="/projects/" + project._id + "/files" enctype="multipart/form-data")
              .fallback
                input(type="file" name="file")
                button Send
              for file in files
                div.outer.file(data-id=file._id)
                  div.meta
                    strong= file.filename
                    = file.created
                    if file.permissions.public
                      i.fa.fa-globe
                    else if 'medlemmer' in file.permissions.groups
                      i.fa.fa-users
                    else if !file.permissions.public && file.permissions.groups.length === 0 && file.permissions.users.length === 0
                      i.fa.fa-user
                    a.edit(href='#')
                      i.fa.fa-edit

        #forum
          for post in posts
            article
              header
                h1
                  a(href="/forum/" + post._id)= post.title
                .meta
                  .row
                    .columns.small-9
                      span.byline
                        a(href="/users/" + post.creator._id)= post.creator.name
                      time.created(datetime=isodate(post.created))= shortdate(post.created)
                    .columns.small-3.text-right.creator
                      i.fa.fa-globe(title="Tilgjengelig for alle")
                      i.fa.fa-users(title="Tilgjengelig for alle medlemmer")
                      i.fa.fa-user(title="Tilgjengelig bare for deg")

                .content
                  .row
                    .columns
                      != marked(post.mdtext)

      .medium-4.columns
        #events
          for event in events
            .event
              h3= event.title
              .meta
                = shortdate(event.start)
                = shortdate(event.end)

  script#project-modal-template(type="text/ractive")
    | {{#error}}
    .row
      .columns
        .alert-box.alert
          | {{error}}
    | {{/error}}

    .row
      .columns
        form(on-submit="update")
          .row
            .columns
              label(for="title") Tittel
              input#title(name="title" type="text" value="{{.project.title}}")
          .row
            .columns
              label(for="private_mdtext") Intern beskrivelse
              textarea#private_mdtext(name="private_mdtext" value="{{.project.private_mdtext}}")
          .row
            .columns
              label(for="public_mdtext") Ekstern beskrivelse
              textarea#public_mdtext(name="public_mdtext" value="{{.project.public_mdtext}}")
          .row
            .columns.medium-6
              label(for="startdate") Prosjektstart
              input#startdate(name="startdate" type="text" value="{{isodate(.project.start)}}")
            .columns.medium-6
              label(for="enddate") End
              input#enddate(name="enddate" type="text" value="{{isodate(.project.end)}}")
          .row
            .columns
              label(for="permissions") Rettigheter
              select#permissions.chosen-permissions(name="permissions" multiple data-placeholder="Velg prosjektgruppe" value="{{dereference_permissions(.project.permissions)}}")
                +permission_options(active_user.groups, active_user.friends)
          button.small Lagre
          button.small.secondary(on-click="close") Avbryt

  script#template(type="text/ractive")
    .row
      .medium-8.columns
        | {{^expanded}}
        if active_user
          .right
            a.button.tiny(on-click="editProject")
              i.fa.fa-edit
              | &nbsp;
              | Rediger prosjekt
        | {{#project}}
        h1 {{title}}
        .meta
          .row
            .columns.small-9
              span.byline
                | {{{daterange(start, end)}}}
            .columns.small-3.text-right
              permissionicons(permissions="{{permissions}}")
        .content
          .row
            .columns
              | {{{marked(private_mdtext)}}}
              | {{#public_mdtext}}
              h2 Ekstern prosjektbeskrivelse
              | {{{marked(public_mdtext)}}}
              | {{/public_mdtext}}
        | {{/project}}

        #forum
          | {{#postExpanded}}
          form(on-submit="createPost" action="/projects/{{project._id}}/forum" method="post" data-abide)
            h2 Legg til innlegg
            label Tittel
            input#post_title(name="title" type="text" required value="{{post.title}}")
            label Innhold
            textarea#post_mdtext(name="mdtext" value="{{post.mdtext}}")
            button Lagre innlegg
          | {{/postExpanded}}

          | {{^postExpanded}}
          if active_user
            .right
              a.button.tiny(on-click="togglePost")
                i.fa.fa-file-o
                | &nbsp;
                | Nytt innlegg
          | {{/postExpanded}}

          | {{#posts}}
          |   {{>post}}
          | {{/posts}}
        | {{/expanded}}

        #files
          form#upload(on-submit="createFile" action="/projects/{{project._id}}/files")
            #uploaded
              ul.small-block-grid-3.large-block-grid-4
                | {{#images}}
                |   {{>image}}
                | {{/images}}
              ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
                | {{#non_images}}
                |   {{>non_image}}
                | {{/non_images}}
                li
                  a#add_file.button.tiny Legg til fil

      .medium-4.columns
        | {{^expanded}}
        #events
          | {{#eventExpanded}}
          form(on-submit="createEvent" action="/projects/{{project._id}}/events" method="post" data-abide)
            h2 Legg til aktivitet
            label Tittel
            input#event_title(name="title" type="text" required value="{{event.title}}")
            label Sted
            input#event_location(name="location" type="text" value="{{event.location}}")
            label Start
            input#event_start(name="start" type="datetime" required value="{{event.start}}")
            label Slutt
            input#event_end(name="end" type="datetime" value="{{event.end}}")
            label Beskrivelse
            textarea#event_mdtext(name="mdtext" value="{{event.mdtext}}")
            button Legg til aktivitet
          | {{/eventExpanded}}
          | {{^eventExpanded}}
          if active_user
            .right
              a.button.tiny(on-click="toggleEvent")
                i.fa.fa-file-o
                | &nbsp;
                | Ny
          | {{/eventExpanded}}
          | {{#events}}
          |   {{>event}}
          | {{/events}}

        | {{/expanded}}

    // {{>post}}
    article
      header
        h2
          a(href="/forum/{{id}}") {{title}}
        .meta
          .row
            .columns.small-9
              span.byline
                a(href="/users/{{creator._id}}") {{creator.name}}
              time.created(datetime="{{isodatetime(created)}}") {{shortdate(created)}}
            .columns.small-3.text-right.creator

        .content
          .row
            .columns {{{marked(mdtext)}}}
    // {{/post}}

    // {{>event}}
    .event
      h3
        a(href="/events/{{_id}}") {{title}}
      .meta
        | {{{daterange(start, end)}}}

      | {{#.location}}
      | {{.location}}
      | {{/.location}}
    // {{/event}}

    // {{>image}}
    li
      a(href="/files/{{_id}}")
        img.th(src="{{thumbnail_path}}" alt="{{filename}}")
    // {{/image}}
    // {{>non_image}}
    li
      a.button.tiny.secondary(href="/files/{{_id}}") {{shorten(filename)}}
    // {{/non_image}}

block javascript
  script
    | require('s7n').projects.projectDetailView(
    != JSON.stringify(project)
    | ,
    != JSON.stringify(events)
    | ,
    != JSON.stringify(posts)
    | ,
    != JSON.stringify(files)
    | );
