extends layouts/main

block content
  section#index
    .row
      .columns.large-3.large-push-9
        if events
          ul#next-events.show-for-large-up.large-block-grid-1
            for event in events
              li
                a.event(href="/events/"+event.id)
                  b= moment(event.start).format('Do MMMM')
                  br
                  = event.title

          #eventwrapper.hide-for-large-up
            #eventscroller
              ul#next-events
                for event in events
                  li
                    a.event(href="/events/"+event.id)
                      b= moment(event.start).format('Do MMM')
                      br
                      = event.title

        if projects
          ul#next-projects.small-block-grid-1
            for project in projects
              li
                a.project(href="/projects/"+project._id)
                  p
                    b= project.title
                    br
                    = shortdate(project.end)


      .large-9.columns.large-pull-3
        if active_user
          ul#activities

        else
          if meta.description
            != marked(meta.description)

          #news
            for post in posts
              article.post
                header
                  h1
                    a(href='/forum/'+post._id)= post.title
                  .meta
                    .row
                      .columns
                        span.byline
                          a(href="/users/" + post.creator._id)= post.creator.name
                        time.created(datetime=post.created)= shortdate(post.created)
                        for tag in post.tags
                          if tag != news_tag
                            a(href="/forum/t/"+tag)
                              i.fa.fa-link
                                | &nbsp;
                                = tag
              .content
                .row
                  .columns
                    != marked(post.mdtext)

  script#activity-template(type="text/ractive")
    | {{#activities}}
    li
      | {{#content_type == "upload"}}
      h1
        i.fa.fa-upload.right
        a(href='/files/{{content_ids.0}}')
          | {{title}}
      | {{#content.images.length}}
      .row
        .columns
          ul.small-block-grid-5
            | {{#content.images}}
            li
              a(href="/files/{{._id}}")
                img.th(src="{{.thumbnail_path}}" alt="")
            | {{/content.images}}
      | {{/content.images.length}}
      | {{#content.non_images.length}}
      .row
        .columns
          ul
            | {{#content.non_images}}
            li
              a(href="/files/{{._id}}") {{.filename}}
            | {{/content.non_images}}
      | {{/content.non_images.length}}
      | {{/content_type}}
      | {{#content_type == "forum"}}
      h1
        i.fa.fa-comments-o.right
        a(href='/forum/{{content_ids.0}}')
          | {{title}}
      .row
        .columns
          | {{{marked(content.snippet)}}}
      | {{/content_type}}
      .row
        .columns.contributors
          | {{#changes}}
          | {{#user.profile_picture_path}}
          img(src="{{user.profile_picture_path}}" alt="{{name}}" title="{{name}}")
          | {{/user.profile_picture_path}}
          | {{^user.profile_picture_path}}
          img(src="/img/user.svg" alt="{{name}}" title="{{name}}")
          | {{/user.profile_picture_path}}
          | {{/changes}}
          .last
            | {{#changes.length > 1}}
            | &nbsp; {{ changes.length - 1 }} svar
            | {{/changes}}
            br
            | &nbsp; siste fra {{ last(changes).user.name }} {{ago(modified)}}
      .row
        .columns
          | {{#tags}}
          | {{#.}}
          a(href="/forum/t/{{.}}")
            i.fa.fa-tag
            | &nbsp;{{.}}
          | &nbsp;
          | {{/.}}
          | {{/tags}}

    | {{/activities}}

block javascript
  script
    | require('s7n').base.indexView(
    != JSON.stringify(activities)
    | );

    | $('.chosen-permissions').chosen();
    | var eventscroll = new IScroll('#eventwrapper', { eventPassthrough: true, scrollX: true, scrollY: false, mouseWheel: true });
