extends layouts/main

block content
  section#login
    .row
      .medium-6.medium-centered.columns
        form(method="post")
          .row
            .small-12.columns
              h2= __('Log in')
          .row
            .small-12.columns.float-labels
              label(for="username")= __('Username')
              input(type="text" placeholder=__('Username') id="username" name="username" required)
          .row
            .small-12.columns.float-labels
              label(for="password")= __('Password')
              input(type="password" placeholder=__('Password') id="password" name="password" required pattern="^\\S+")
          .row
            .small-12.columns
              button.small(type="submit")= __('Log in')
    .row
      .medium-6.medium-centered.columns.text-center
        | - 
        = __('OR')
        |  -
    .row
      .medium-6.medium-centered.columns
        form(method="post" action="/register" data-abide)
          .row
            .small-12.columns
              h2= __('Register')
          .row
            .small-12.columns.float-labels
              label(for="name")= __('Name')
              input(type="text" placeholder=__('Full name') id="name" name="name" required)
              small.error= __('Name is required')
          .row
            .small-12.columns.float-labels
              label(for="desired_username")= __('Username')
              input(type="text" placeholder=__('Username') id="desired_username" name="desired_username" required)
              small.error= __('Username is required and must be unique')
          .row
            .small-12.columns.float-labels
              label(for="password1")= __('Password')
              input(type="password" placeholder=__('Password') id="password1" name="password1" required)
              small.error= __('Passwords must be at least 8 letters long and include at least one digit and one uppercase letter')
          .row
            .small-12.columns.float-labels
              label(for="password2")= __('Confirm password')
              input(type="password" placeholder=__('Password') id="password2" name="password2" required data-equalto="password1")
              small.error= __('Must be the same as the one above')
          .row
            .small-12.columns
              button.small(type="submit")= __('Register')
