doctype html

mixin permission_options(groups, users)
  optgroup(label="Alle")
    option(value="p") Verden
  optgroup(label="Grupper")
    for group in groups
      if group
        option(value="g-"+group.id)= group.name
  optgroup(label="Personer")
    for friend in users
      if friend
        option(value="u-"+friend.id)= friend.name

html(lang=lang dir=lang_dir)
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="Strekmann")
    link(href="/css/site.css" rel="stylesheet")

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    script(src="/js/modernizr.js")
    link(rel="shortcut icon" href="/img/favicon.png")

  body
    a(id="logobtn" href="/")
    .contain-to-grid
      nav.top-bar(data-topbar)
        ul.title-area
          li.name
            h1
              a(href="/") nidarholm
          li.toggle-topbar.menu-icon
            a(href="#")
              span

        section.top-bar-section
          ul.right
            li
              a(href="/projects") Prosjekter
            li
              a(href="/members") Medlemmer
            li
              a(href="#") Om nidarholm
            if active_user
              li
                a#topbar-username(href="/users/"+active_user.username)
                  = active_user.username
            else
              li
                a.login(href="/login") Logg inn

    .row
      .large-12.columns
        #flash
          if messages.error
            each message in messages.error
              .alert-box.alert(data-alert)= message
                a.close &times;
          if messages.warning
            each message in messages.warning
              .alert-box.warning(data-alert)= message
                a.close &times;
          if messages.success
            each message in messages.success
              .alert-box.success(data-alert)= message
                a.close &times;
          if messages.info
            each message in messages.info
              .alert-box.info(data-alert)= message
                a.close &times;

    block content

    block footer
      .row
        .columns
          dl#submenu.sub-nav
            dt Undersider:
            dd
              a(href="/projects") Prosjekter
            dd
              a(href="/events") Aktiviteter
            dd
              a(href="/forum") Forum
            dd
              a(href="/files") Filer
            dd
              a(href="/members") Medlemmer
            dd
              a(href="/users") Brukere
            dd
              a(href="/groups") Grupper

          footer.dtborder
            .row
              .medium-4.columns
                | Musikkforeningen Nidarholm
                br
                | Postboks 1881 Lade
                br
                | 7440 Trondheim
              .medium-4.columns
                | Bank: 4240 07 10036
                br
                | Org: 971 558 105
              .medium-4.columns
                i.fa.fa-envelope-o
                | post@nidarholm.no
                br
                i.fa.fa-facebook
                | facebook.com/nidarholm
                br
                i.fa.fa-twitter
                | twitter.com/nidarholm
            .row
              .columns
                .bystrekmann
                  | <a href="/">nidarholm.js</a> av strekmann as


    script#flashtemplate(type="text/ractive")
      | {{#error}}
      .alert-box.alert(intro-outro="fade" on-click="closeMessage") {{.}}
        a.close
          i.fa.fa-times-circle-o
      | {{/error}}

      | {{#warning}}
      .alert-box.warning(intro-outro="fade" on-click="closeMessage") {{.}}
        a.close
          i.fa.fa-times-circle-o
      | {{/warning}}

      | {{#success}}
      .alert-box.success(intro-outro="fade" on-click="closeMessage") {{.}}
        a.close
          i.fa.fa-times-circle-o
      | {{/success}}

      | {{#info}}
      .alert-box.info(intro-outro="fade" on-click="closeMessage") {{.}}
        a.close
          i.fa.fa-times-circle-o
      | {{/info}}

    script#permissionstemplate(type="text/ractive")
      | {{#is_public(permissions)}}
      i.fa.fa-globe(title="Tilgjengelig for alle")
      | {{/is_public}}
      | {{#is_for_members(permissions)}}
      i.fa.fa-users(title="Tilgjengelig for alle medlemmer")
      | {{/is_for_members}}
      | {{#is_unpublished(permissions)}}
      i.fa.fa-user.alert(title="Tilgjengelig bare for deg")
      | {{/is_unpublished}}

    script(src="/js/vendor.js")
    script(src="/js/site.js")

    script.
      $(document).foundation();

    script
      | var flash = require('s7n').flash(
      != JSON.stringify(messages)
      | ,
      != JSON.stringify(organization.member_group)
      | );

    block javascript
