doctype html

mixin permission_options(groups, users, selected)
  optgroup(label="Alle")
    if selected && selected.public
      option(value="p" selected) Verden
    else
      option(value="p") Verden
  optgroup(label="Grupper")
    for group in groups
      if group
        if selected && group.id in selected.groups
          option(value="g-"+group.id selected)= group.name
        else
          option(value="g-"+group.id)= group.name
  optgroup(label="Personer")
    for friend in users
      if friend
        if selected && friend.id in selected.users
          option(value="u-"+friend.id selected)= friend.name
        else
          option(value="u-"+friend.id)= friend.name

html(lang=lang dir=lang_dir)
  head
    meta(charset="utf-8")
    block meta
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="author" content="Strekmann")
    link(href="/css/site.css" rel="stylesheet")

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    script(src="/js/modernizr.js")
    link(rel="shortcut icon" href="/img/favicon.png")

  body
    .contain-to-grid
      nav.top-bar(data-topbar)
        ul.title-area
          li.logo
            a(id="logobtn" href="/")
          li.name
            h1
              a(href="/") nidarholm
          li.toggle-topbar.menu-icon
            a(href="#")
              span

        section.top-bar-section
          ul.left
            li
              a(href="/projects") Prosjekter
            li
              a(href="/members") Medlemmer
            li
              a(href="/contact") Kontakt

          ul.right
            if active_user && is_admin
              li.hide-for-small-only
                a(href="/users")
                  i.fa.fa-user(title="Brukere")
              li.hide-for-small-only
                a(href="/groups")
                  i.fa.fa-users(title="Grupper")
            if active_user
              li
                a(href="/forum")
                  .hide-for-small-only
                    i.fa.fa-comments-o(title="Forum")
                  .show-for-small-only
                    i.fa.fa-comments-o
                    | &nbsp; Forum
              li
                a(href="/files")
                  .hide-for-small-only
                    i.fa.fa-download(title="Files")
                  .show-for-small-only
                    i.fa.fa-download
                    | &nbsp; Files
            li
              a(href="/events")
                .hide-for-small-only
                  i.fa.fa-calendar-o(title="Kalender")
                .show-for-small-only
                  i.fa.fa-calendar-o
                  | &nbsp; Kalender
            if active_user
              li
                a#topbar-username(href="/users/"+active_user.username)
                  = active_user.username
              li
                a(href="/logout")
                  .hide-for-small-only
                    i.fa.fa-sign-out(title="Logg ut")
                  .show-for-small-only
                    i.fa.fa-sign-out
                    | &nbsp; Logg ut
            else
              li
                a.login(href="/login") Logg inn

    .row
      .large-12.columns
        #flash
          if messages.error
            each message in messages.error
              .alert-box.alert(data-alert)= message
                a.close &times;
          if messages.warning
            each message in messages.warning
              .alert-box.warning(data-alert)= message
                a.close &times;
          if messages.success
            each message in messages.success
              .alert-box.success(data-alert)= message
                a.close &times;
          if messages.info
            each message in messages.info
              .alert-box.info(data-alert)= message
                a.close &times;

    block content

    block footer
      .row
        .columns

          footer.dtborder
            .row
              .medium-4.columns
                = organization.name
                br
                = organization.mail_address
                br
                = organization.postcode
                | &nbsp;&nbsp;
                = organization.city
              .medium-4.columns
                | Bank: 
                = organization.public_bank_account
                br
                | Org: 
                = organization.organization_number
              .medium-4.columns
                i.fa.fa-envelope-o
                != organization.encoded_email
                br
                if organization.social_media.facebook
                  a(href=organization.social_media.facebook)
                    i.fa.fa-facebook
                    = prettyhost(organization.social_media.facebook)
                  br
                if organization.social_media.twitter
                  a(href=organization.social_media.twitter)
                    i.fa.fa-twitter
                    = prettyhost(organization.social_media.twitter)
                  br
            .row
              .columns
                .bystrekmann
                  | <a href="/">nidarholm.js</a> av strekmann as


    script#flashtemplate(type="text/ractive")
      | {{#error}}
      .alert-box.alert(intro-outro="fade" on-click="closeMessage") {{.}}
        a.close
          i.fa.fa-times-circle-o
      | {{/error}}

      | {{#warning}}
      .alert-box.warning(intro-outro="fade" on-click="closeMessage") {{.}}
        a.close
          i.fa.fa-times-circle-o
      | {{/warning}}

      | {{#success}}
      .alert-box.success(intro-outro="fade" on-click="closeMessage") {{.}}
        a.close
          i.fa.fa-times-circle-o
      | {{/success}}

      | {{#info}}
      .alert-box.info(intro-outro="fade" on-click="closeMessage") {{.}}
        a.close
          i.fa.fa-times-circle-o
      | {{/info}}

    script#permissionstemplate(type="text/ractive")
      span.permissions
        | {{#is_public(permissions)}}
        i.fa.fa-globe.public(title="Tilgjengelig for alle")
        | {{/is_public}}
        | {{#is_for_members(permissions)}}
        i.fa.fa-users.members(title="Tilgjengelig for alle medlemmer")
        | {{/is_for_members}}
        | {{#is_unpublished(permissions)}}
        i.fa.fa-user.private.alert(title="Ikke publisert, bare jeg ser denne")
        | {{/is_unpublished}}

    script(src="/js/vendor.js")
    script(src="/js/site.js")

    script.
      $(document).foundation();

    script
      | var flash = require('s7n').flash(
      != JSON.stringify(messages)
      | ,
      != JSON.stringify(organization.member_group)
      | );

    block javascript
