extends ../layouts/main

block content
  section#contact
    .row
      .columns.medium-3
        if is_admin
          .right
            a(href="/organization/edit")
              i.fa.fa-edit(title="Rediger info")

        h1 Kontakt
        .row
          .columns
            h5 Epost
            .email!= marked('<'+organization.email+'>')

        if organization.visitor_address
          .row
            .columns
              h5 Besøksadresse
              p= organization.visitor_address

        if organization.mail_address
          .row
            .columns
              h5 Postadresse
              p
                = organization.name
                br
                = organization.mail_address
                br
                = organization.postcode
                | &nbsp;&nbsp;
                = organization.city

        if organization.organization_number
          .row
            .columns
              h5 Organisasjonsnummer
              p= organization.organization_number

        if organization.public_bank_account
          .row
            .columns
              h5 Kontonummer
              p= organization.public_bank_account

      .columns.medium-9
        if organization.contact_text
          .row
            .columns
              figure
                iframe(width='100%' height='500px' frameBorder='0' src=organization.map_url)
                figcaption
                  != organization.contact_text

    .row
      .columns
        hr
        for group in organization.contact_groups
          h2= group.name

          ul.large-block-grid-4.medium-block-grid-3.small-block-grid-1
            for member in group.members
              li.member
                h5= member.user.name
                  if member.role
                    br
                    small= member.role.title
                if member.role && member.role.email
                  .email!= marked('<'+member.role.email+'>')
                else
                  .email!= marked('<'+member.user.email+'>')
