extends ../layouts/main

block content
  section#contacts
    .row
      .columns
        h1 Endre organisasjonsopplysninger

        form(method="post")
          .row
            .columns
              label(for"name") Organisasjonens navn
              input#name(type="text" name="name" value=organization.name required)
          .row
            .columns
              label(for"domain") Domene
              input#domain(type="text" name="domain" value=organization.domain required)
          .row
            .columns
              label(for"email") Epost
              input#email(type="text" name="email" value=organization.email required)
          .row
            .columns
              label(for="organization_number") Organisasjonsnummer
              input#organization_number(type="text" name="organization_number" value=organization.organization_number)

          .row
            .columns
              label(for="visitor_address") Besøksadresse
              input#visitor_address(type="text" name="visitor_address" value=organization.visitor_address)

          .row
            .columns
              label(for="mail_address") Postadresse
              input#mail_address(type="text" name="mail_address" value=organization.mail_address)

          .row
            .columns.small-3
              label(for="postcode") Postnummer
              input#postcode(type="text" name="postcode" value=organization.postcode)
            .columns.small-9
              label(for="city") Poststed
              input#city(name="city" type="text" value=organization.city)

          .row
            .columns
              label(for="public_bank_account") Kontonummer
              input#public_bank_account(type="text" name="public_bank_account" value=organization.public_bank_account)

          .row
            .columns
              label(for="map_url") Kart-URL
              input#map_url(type="text" name="map_url" value=organization.map_url)

          .row
            .columns
              label(for="facebook") Facebook-URL
              input#facebook(type="text" name="facebook" value=organization.social_media.facebook)

          .row
            .columns
              label(for="twitter") Twitter-URL
              input#twitter(type="text" name="twitter" value=organization.social_media.twitter)

          .row
            .columns
              label(for="contact_text") Tekst
              textarea#contact_text(name="contact_text")= organization.contact_text

          each locale in locales
            .row
              .columns
                label(for="description_"+locale)
                  | Beskrivelse på språk
                  | &nbsp;
                  = locale
                textarea(id="description_"+locale name="description["+locale+"]")= organization.description[locale]

          .row
            .columns
              button.small(type="submit") Lagre

block javascript
  script.
    require('s7n').organization.editOrganizationView();
