extends ../layouts/main

block content
  #user
    .row
      .medium-2.columns
          a(href="#" on-click="changeProfilePicture")
            img#picture(src=user.profile_picture_url)

        if user.is_active
          | Aktiv bruker
        if user.is_admin
          | Admin

      .medium-6.columns
        h1= user.name

        p#username(data-username=user.username)= user.username

        p= user.instrument
        p= user.email
        p= user.phone
        p= user.address
        p= user.postcode
        p= user.city
        p= user.country
        p= user.nmf_id

        if active_user.is_admin
          // TODO: Set better permission checks
          p= user.born
          p= user.joined
          p= user.reskontro
          = user.membership_history

      .medium-3.columns
        if user.id==active_user.id
          a.button.tiny(href="/users/" + user.username + "/edit") Rediger brukerdata
          a.button.tiny(href="/logout") Logg ut

        h2 Grupper
          if user.groups.length === 0
            p Ingen grupper. Legg personen til i grupper ved å trykke knappen under.
        #groups
          ul
            for group in user.groups
              if group
                li.group(data-id=group.id)
                  a(href="/groups/" + hoid(group._id))= group.name
                  a.removegroup(href="#")
                    i.fa.fa-times
              else
                = group


          #addgroup
            //button.new_group.small
              i.fa.fa-plus
            form(on-submit="addGroup" method="POST" action="/users/" + user.username + "/groups")
              .row
                .columns
                  h3 Legg til i grupper
              .row
                .columns
                  label(for='group') Finn gruppe
                  select#group
                    for group in groups
                      option(value=group.id)= group.name
              .row
                .columns
                  //button.reset.secondary(type='reset') Avbryt
                  button.tiny Legg til

  script#usertemplate(type="text/ractive")
    #profile-pictures.reveal-modal(data-reveal)
      .row
        | {{#user}}
        .columns
          form#upload(action='/users/{{username}}/pictures')
            | Dra filer hit, eller klikk for å velge

            | {{#uploading_files}}
            .uploading(outro='fade:500')
              strong {{name}}
              .progress
                span.meter(style="width: {{uploading.progress}}%")
            | {{/uploading_files}}

          ul.small-block-grid-4
            | {{#files}}
            li(intro="fade" class="{{ is_active_image(_id) ? 'active' : '' }}")
              a(href="/users/{{username}}/pictures/{{_id}}" on-click="setProfilePicture")
                img.th(src="/files/{{path}}")
            | {{/files}}
        | {{/user}}
      a.close-reveal-modal
        i.fa.fa-times

    | {{#user}}
    .row
      .medium-3.columns
        a(href="/users/{{username}}/picture" on-click="changeProfilePicture")
          | {{#profile_picture}}
          img#picture(src="/files/{{profile_picture_path}}")
          | {{/profile_picture}}
          | {{^profile_picture}}
          img#picture(src="/img/user.png")
          | {{/profile_picture}}

        | {{#is_active}}
        | Aktiv bruker
        | {{/is_active}}
        | {{#is_admin}}
        | Admin
        | {{/is_admin}}

      .medium-6.columns
        h1 {{name}}

        p#username(data-username="{{username}}") {{username}}

        p {{instrument}}
        p {{email}}
        p {{phone}}
        p {{address}}
        p {{postcode}}
        p {{city}}
        p {{country}}
        p {{nmf_id}}

        | {{#active_user.is_admin}}
        // todo: set better permission checks
        p {{born}}
        p {{joined}}
        p {{reskontro}}
        | {{membership_history}}
        | {{/active_user.is_admin}}

      .medium-3.columns
        | {{#is_active_user}}
        a.button.tiny(href="/users/{{../username}}/edit") Rediger brukerdata
        a.button.tiny(href="/logout") Logg ut
        | {{/is_active_user}}

        h2 Grupper
          if user.groups.length === 0
            p Ingen grupper. Legg personen til i grupper ved å trykke knappen under.

        ul
          | {{#groups}}
          li.group
            a(href="/groups/{{hoid(_id)}}") {{name}}
            a.removegroup(on-click="removeGroup" href="/users/{{../../username}}/groups/{{_id}}")
              i.fa.fa-times
          | {{/groups}}

        #addgroup
          //button.new_group.small
            i.fa.fa-plus
          form(on-submit="addGroup" method="POST" action="/users/{{username}}/groups")
            .row
              .columns
                h3 Legg til i grupper
            .row
              .columns
                label(for='group') Finn gruppe
                select#group
                  for group in groups
                    option(value=group.id)= group.name
            .row
              .columns
                //button.reset.secondary(type='reset') Avbryt
                button.tiny Legg til
    | {{/user}}

block javascript
  script
    | var user = require('s7n').user.userView(
    != JSON.stringify(user)
    | ,
    != JSON.stringify(active_user)
    | );
