extends ../layouts/main

block content
  .row
    .columns
      form#user(method="post" action="/users/" + user._id)
        h1= user.name

        label(for="name") Navn
        input#name(name="name" type="text" value=user.name)
        label(for="username") Brukernavn
        input#username(name="username" type="text" value=user.username)
        label(for="email") Epost
        input#email(name="email" type="text" value=user.email)
        label(for="instrument") Verv
        input#instrument(name="instrument" type="text" value=user.instrument)
        label(for="born") Født
        input#born(name="born" type="date" value=simpledate(user.born))
        label(for="phone") Telefon
        input#phone(name="phone" type="text" value=user.phone)
        label(for="address") Adresse
        input#address(name="address" type="text" value=user.address)
        .row
          .small-3.columns
            label(for="postcode") Postnummer
            input#postcode(name="postcode" type="text" value=user.postcode)
          .small-9.columns
            label(for="city") Poststed
            input#city(name="city" type="text" value=user.city)
        label(for="country") Land
        select#country(name="country")
          for country, code in countries
            option(value=code selected=code===user.country)= country

        if is_admin
          .row
            .columns
              input#in_list(name="in_list" type="checkbox" checked=(user.in_list ? "checked" : undefined))
              label(for="in_list") Med i medlemslista
              input#on_leave(name="on_leave" type="checkbox" checked=(user.on_leave ? "checked" : undefined))
              label(for="on_leave") Har perm
              input#no_email(name="no_email" type="checkbox" checked=(user.no_email ? "checked" : undefined))
              label(for="no_email") Ikke epost
          .row
            .columns
              label(for="joined") Ble medlem første gang
              input#joined(name="joined" type="date" value=simpledate(user.joined))
              label(for="nmf_id") Medlemsnummer i NMF
              input#nmf_id(name="nmf_id" type="text" value=user.nmf_id)
              label(for="reskontro") Reskontro
              input#reskontro(name="reskontro" type="text" value=user.reskontro)
              label(for="membership_history") Medlemskapshistorikk
              textarea#membership_history(name="membership_history")= user.membership_history
        else
          if active_user._id == user._id
            .row
              .columns
                input#no_email(name="no_email" type="checkbox" checked=(user.no_email ? "checked" : undefined))
                label(for="no_email") Ikke epost

        button Lagre

block javascript
  script.
    require('s7n').user.editUserView();
