extends ../layouts/main

block content
  #user
    .row
      .medium-9.columns
        if active_user && active_user.username == user.username
          .right
            a(href="/users/"+user.username+"/edit")
              i.fa.fa-edit(title="Rediger personalia")

        h1= user.name
          small= user.instrument

        p= user.email
          br
          = user.phone

        p
          = user.address
          br
          = user.postcode
          = user.city
          br
          = user.country

        p= user.nmf_id

        if user.is_active
          | Aktiv bruker
        if user.is_admin
          | Admin

        if is_admin
          // TODO: Set better permission checks
          p= user.born
          p= user.joined
          p= user.reskontro
          = user.membership_history

          #groups
            h2 Med i grupper
            ul
              for group in user.groups
                li.group= group.name

            ul
              for group in groups
                .option= group._id

        p#username(data-username=user.username)= user.username

      .medium-3.columns.hide-for-small-only
          a(href="#" on-click="changeProfilePicture")
            if user.profile_picture_path
              img#picture(src=user.profile_picture_path)
            else
              img#picture(src="/img/user.svg")

  script#usertemplate(type="text/ractive")
    #profile-pictures.reveal-modal(data-reveal)
      .row
        | {{#user}}
        .columns
          form#upload(action='/users/{{username}}/pictures')
            | Dra filer hit, eller klikk for å velge

            | {{#uploading_files}}
            .uploading(outro='fade:500')
              strong {{name}}
              .progress
                span.meter(style="width: {{uploading.progress}}%")
            | {{/uploading_files}}

          ul.small-block-grid-4
            | {{#files}}
            li(intro="fade" class="{{ is_active_image(_id) ? 'active' : '' }}")
              a(href="/users/{{username}}/pictures/{{_id}}" on-click="setProfilePicture")
                img.th(src="{{thumbnail_path}}")
            | {{/files}}
        | {{/user}}
      a.close-reveal-modal &#215;

    | {{#user}}
    .row
      .medium-9.columns
        .right
          | {{#is_active_user}}
          a(href="/users/{{username}}/edit")
            i.fa.fa-edit(title="Rediger personalia")
          | {{/is_active_user}}

        <h1>{{name}} <small>{{instrument}}</small></h1>

        .show-for-small-only
          a(href="/users/{{username}}/picture" on-click="changeProfilePicture")
            | {{#profile_picture}}
            img#picture(src="{{profile_picture_path}}")
            | {{/profile_picture}}
            | {{^profile_picture}}
            img#picture(src="/img/user.svg")
            | {{/profile_picture}}

        .email
          i.fa.fa-envelope
          | &nbsp;
          a(href="mailto:{{email}}") {{email}}

        | {{#phone}}
        p.phone
          a(href="tel:{{phone}}")
            i.fa.fa-phone
            | &nbsp;
            | {{phoneformat(phone)}}
        | {{/phone}}

        .address
          | {{address}}
        .city
          | {{postcode}} {{city}}
        | {{#country!='NO'}}
        .country
          | {{country}}
        | {{/country}}

        if is_admin
          p {{reskontro}}
          hr
          | {{{marked(.membership_history)}}}

        if user._id === active_user._id
          h2 Alternativ innlogging
          if user.facebook_id
            i.fa.fa-facebook-square.fa-2x.success
          else
            a.secondary(href="/auth/facebook")
              i.fa.fa-facebook-square.fa-2x
          | &emsp;
          if user.google_id
            i.fa.fa-google-plus-square.fa-2x.success
          else
            a.secondary(href="/auth/google")
              i.fa.fa-google-plus-square.fa-2x
          | &emsp;
          if user.twitter_id
            i.fa.fa-twitter-square.fa-2x.success
          else
            a.secondary(href="/auth/twitter")
              i.fa.fa-twitter-square.fa-2x

        if is_admin
          p Har aktivert alternativ innlogging med 
            if user.facebook_id
              i.fa.fa-facebook-square
            | &emsp;
            if user.google_id
              i.fa.fa-google-plus-square
            | &emsp;
            if user.twitter_id
              i.fa.fa-twitter-square

      .medium-3.columns.hide-for-small-only
        a(href="/users/{{username}}/picture" on-click="changeProfilePicture")
          | {{#profile_picture}}
          img#picture(src="{{profile_picture_path}}")
          | {{/profile_picture}}
          | {{^profile_picture}}
          img#picture(src="/img/user.svg")
          | {{/profile_picture}}

    .row
      .medium-9.columns
        hr

        h2 Grupper
          if !user.groups || user.groups.length === 0
            p Ingen grupper. Legg personen til i grupper ved å trykke knappen under.

        ul#groups
          | {{#groups}}
          li.group
            a(href="/groups/{{_id}}") {{name}}
            if is_admin
              a.removegroup(on-click="removegroup" href="/users/{{../../username}}/groups/{{_id}}")
                | &nbsp;
                i.fa.fa-times
          | {{/groups}}

        if is_admin
          #addgroup
            //button.new_group.small
              i.fa.fa-plus
            form(on-submit="addGroup" method="POST" action="/users/{{username}}/groups")
              .row
                .columns
                  h3 Legg til i grupper
              .row
                .columns
                  label(for='group') Finn gruppe
                  select#group
                    for group in groups
                      option(value=group.id)= group.name
              .row
                .columns
                  //button.reset.secondary(type='reset') Avbryt
                  button.tiny Legg til

        p Brukernavn <code>{{username}}</code>, passordalgoritme: <code>{{algorithm}}</code>, krypteringsstyrke: <code>{{length(salt)}}</code>
        | {{#is_active}}
        | Aktiv brukerkonto
        | {{/is_active}}
        | {{^is_active}}
        | Blokkert brukerkonto
        | {{/is_active}}
        | {{#is_admin}}
        | — Admin
        | {{/is_admin}}
        | {{#in_list}}
        | — I medlemslista
        | {{/in_list}}
        | {{#on_leave}}
        | — Har permisjon
        | {{/on_leave}}


      .hide-for-small-only
        .medium-3.columns
          hr

          | {{#born}}
          p
            | Bursdag {{bday(born)}}
          | {{/born}}

          | {{#joined}}
          p
            | Startet {{ago(joined)}} og har NMF-nummer {{nmf_id}}
          | {{/joined}}

    | {{/user}}

block javascript
  script
    | var user = require('s7n').user.userView(
    != JSON.stringify(user)
    if active_user
      | ,
      != JSON.stringify(active_user)
    | );
