extends ../layouts/main

block content
  section#file
    .row
      .columns
        h1= file.filename
        p
          .right
            each tag in file.tags
              a(href="/files/t/"+tag)
                i.fa.fa-tag
                | &nbsp;
                = tag
              = " "
            = file.mimetype
          a(href="/users/"+file.creator.username)= file.creator.name
          | &nbsp;
          = file.shortdate
        if file.is_image
          img#image(src=file.large_path)
        else
          a.button(href=file.path) Last ned
        p= file.caption

        p= file.permissions

  script#template(type="text/ractive")
    .row
      .columns
        form(on-submit="updateFile")
          | {{#if file.toggledEdit}}
          .row
            .columns.small-8
              input#filename(type="text" name="filename" value="{{file.filename}}" placeholder="Filnavn")
            .columns.small-4
              .right
                button.small Lagre
          | {{else}}
          if active_user && file.creator._id === active_user._id || is_admin
            .right
              button.small(on-click="toggleEdit")
                i.fa.fa-edit
                | &nbsp;
                | Rediger
          h1 {{file.filename}}
          | {{/if}}
          .row
            .columns.medium-6
              a(href="/users/"+file.creator.username)= file.creator.name
              = " "
              = file.shortdate
            .columns.medium-6
              | {{#if file.toggledEdit}}
              .wrapper
                input#tags(type="text" name="tags" value="{{file.tags}}" placeholder="Merkelapper")
              | {{else}}
              .text-right
                span#tags
                  | {{#each file.tags}}
                  a(href="/files/t/{{.}}")
                    i.fa.fa-tag
                    | {{.}}
                  | {{/each}}
                span.type
                  = file.mimetype
              | {{/if}}
          if file.is_image
            img#image(src=file.large_path)
          else
            a.button(href=file.path) Last ned
          p= file.caption

          p= file.permissions

block javascript
  script
    | require('s7n').files.fileDetailView(
    != JSON.stringify(file)
    | );
