extends ../layouts/main

block content
  section#file

    .row
      .columns
        h1= file.filename
        p
          .right
            each tag in file.tags
              a(href="/files/t/"+tag)
                i.fa.fa-tag
                | &nbsp;
                = tag
            | &nbsp;
            = file.mimetype
          a(href="/users/"+file.creator.username)= file.creator.name
          | &nbsp;
          = file.shortdate
        if file.is_image
          img(src=file.picture_path)
        else
          a.button(href=file.path) Last ned
        p= file.caption

        p= file.permissions
